/* Main wrapper */
.register-page {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffffff;
    padding-top: 80px;
    padding-bottom: 20px;
}

/* Card */
.register-card {
    width: 440px;
    background: #fff;
    border-radius: 12px;
    border: 1px solid #eeeeee;
    padding: 40px 35px 30px;
}

/* Inputs */
input.form-control,
select.form-control {
    height: 42px;
    border-radius: 6px;
    font-size: 14px;
}

/* Footer */
.register-footer {
    background-color: #F3F3F3;
    width: 100%;
    padding: 20px 0;
    margin-top: 20px;
    border-top: none;

}



